{% extends "base.html" %}

{% block title %} Product List {% endblock %}
{% block content %}
<h1>Product List</h1>
<hr>
<ul>
    {% for product in object_list %}
    <li><a href="{% url 'store:product_detail_url' product.pk %}">{{product.name}}</a>
        <ul>
            <li>{{product.price}}</li>
        </ul>
    </li>
    <li>
        <a href=" {% url 'store:shopping_form_url' %} ">
            Go To {{product.name}} Shop
        </a>
    </li>
    <hr>
    {% endfor %}

</ul>
{% endblock %}